/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  @apply bg-white fixed top-0 w-full block transition-transform shadow-md;

  &.hidden {
    transform: translateY(-90px);
  }

  a {
    @apply float-left block text-black text-center px-4 py-3 no-underline text-base;

    &:hover {
      background-color: #ffffff;
      color: white;
    }
  }
}
